<ion-header>
  <ion-toolbar>
    <ion-title>
      BMI Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-list>
    <ion-item>
    <ion-label>
      Height:
    </ion-label>
    <ion-input [(ngModel)]="height" type="number" min="0" step="0.01"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        Weight:
      </ion-label>
      <ion-input  [(ngModel)]="weight" type="number" min="0" step="1"></ion-input>
      </ion-item>

    <ion-item>
      
    <ion-label>
      BMI:
    </ion-label>
    <ion-input  readonly value="{{bmi | number:'1.2-2'}}"></ion-input>
  </ion-item>

  </ion-list>

  <div class="ion-padding">
    <ion-button block (click)="calculate()" color="secondary">Calculate</ion-button>
  </div>

</ion-content>
